* {
    margin: 0;
    padding: 0;
}

.App {
    font-family: Arial;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #090909;
}

.wrapper {
    height: 500px;
    width: 600px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background: #111111;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.item {
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.text {
    width: 200px;
    float: left;
    text-align: right;
    margin-right: 15px;
}

.select {
    height: 30px;
    padding-left: 5px;
    font-size: 16px;
    width: 300px;
    border: 1px solid gray;
    background: #090909;
    color: white;
}

.input {
    height: 28px;
    padding-left: 9px;
    font-size: 16px;
    width: 290px;
    border: 1px solid gray;
    background: #090909;
    color: white;
}

.inputPeriod {
    display: flex;
    align-items: center;
}
